@charset "UTF-8";

#videopyke{
    
    width: 100%;
    background-color: #2c2d33ce;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@font-face {
    font-family: "Bebas";
    src: url(BebasNeue-Regular.ttf);
}
body {
    background: linear-gradient(#4a71a0, #465D7A, #3B4450);
    font-family: "Bebas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;

}

.cabecalho {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    background-color: #3333339f;
}
.cabecalho img{
    margin-top: 5px;
}
.topo h2 {
    padding: 20px;
    margin-top: 0;
}

.topo p {
    margin: 0px;
    padding-bottom: 30px;
    font-size: 20px;
}



.linha {
    width: 100%;
    height: 48px;
    background-color: #333333ce;
    position: relative;
    z-index: 1;
}

.linha ul {

    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: #333;
}

.linha li {
    float: left;
    position: relative;
}

.linha li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.linha li a:hover {
    background: linear-gradient(#465D7A, #2E3033, #111);

}

.linha li ul {
    position: absolute;
    top: 49px;
    left: 0px;
    display: none;
}

.linha ul li:hover ul {
    display: block;
}

.linha li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

.active {
    background: linear-gradient(#3b5988, #373c63, #3D3F50, #2C2D33);
}

.footer {

    text-align: center;
    background-color: #333333db;
    color: white;
    padding: 3px;
    margin-top: 30px;
}

h1{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;

}

.texto{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 20px;
}

.galery {
    margin: 0 auto;
    padding: 60px;
    display: flex;
    width: 80%;
    background-color: #161823c3;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}


.galery img {
    color: rgb(255, 255, 255);
    width: 1024px;
    margin: 5px;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.galery img:hover {
    
    transform: scale(1.2);
        color: rgb(255, 255, 255);
}
.slider {
    margin-top: 30px;
}
.slide-controller:nth-child(1):checked~.slide-show .slide-list {
    --selected-item: 0;
}

.slide-controller:nth-child(2):checked~.slide-show .slide-list {
    --selected-item: 1;
}

.slide-controller:nth-child(3):checked~.slide-show .slide-list {
    --selected-item: 2;
}

.slide-controller:nth-child(4):checked~.slide-show .slide-list {
    --selected-item: 3;
}

.slide-show {
    /* deixa o coteudo invisivel na div "slide-show"*/
    overflow: hidden;
}

.slide-list {
    --selected-item: 0;
    --total-itens: 4;
    background-color: #161823c3;
    
    list-style-type: none;
    margin: 10px 0;
    padding: 0%;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-itens)* 100%);
    transition: Left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}